@page
@model IndexModel
@{
    ViewData["Title"] = "Patient Tracking List";
}

<div>
    <h1 class="text-center mb-4">PTL-X - The New Patient Tracking List</h1>
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto ms-auto text-end mt-n1">
            <a class="btn btn-primary btn-lg" asp-area=""
               asp-page="/Download" asp-route-consultantFilter=@Model.consultantSelected
               asp-route-gcFilter=@Model.GCSelected asp-route-pathwayFilter=@Model.pathwaySelected
               asp-route-username=@Model.User.Identity.Name asp-route-type="ptl" asp-route-triagePathwayFilter="@Model.triagePathway" 
               asp-route-statusAdmin="@Model.adminStatus">Export Data</a>
        </div>
    </div>
    @if (!Model.isLive)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div class="alert-icon">
                <i class="far fa-fw fa-bell"></i>
            </div>
            <div class="alert-message">
                <h3><strong>NOTE:</strong> This is a test system, work completed here will not be reflected in production</h3>
            </div>
        </div>
    }

    @if (Model.notificationMessage != null && Model.notificationMessage != "")
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div class="alert-icon">
                <i class="far fa-fw fa-bell"></i>
            </div>
            <div class="alert-message">
                <h3>@Model.notificationMessage</h3>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">

                    <h5 class="mt-1 mb-3"><strong>Total Active Referrals:  </strong>@Model.listTotal</h5>
                    <h5 class="mt-1 mb-3"><strong>Currently Over 18 Weeks:  </strong>@Model.breachingTotal</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">

                    <h5 class="mt-1 mb-3"><strong>Appointment due: </strong>@Model.apptDueTotal</h5>
                    <h5 class="mt-1 mb-3"><strong>Unappointed: </strong>@Model.unapptTotal</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">

                    <h5 class="mt-1 mb-3"><strong>From this year: </strong>@Model.currentYearTotal</h5>
                    <h5 class="mt-1 mb-3"><strong>From last year: </strong>@Model.prevYearTotal</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">

                    <h5 class="mt-1 mb-3"><strong>Older: </strong>@Model.olderTotal</h5>
                    <p class="mt-1 mb-3">(<strong>18 week clock start date:</strong>  @Model.EighteenWeekDate.ToString("dd/MM/yyyy"))</p>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
    <dt class="col-md-2">Last updated:</dt><dd class="col-md-2">@Model.LastUpdatedDate.ToString("dd/MM/yyyy")</dd>
    </div>*@
    <br />
    <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Search Form</h5>
            </div>
            <div class="card-body">
                <form id="frmMenu" method="post">
                    <button type="button" id="btnReset" class="btn btn-dark mb-3">Reset Filters</button>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="txtName">Name:</label>
                            <input type="text" class="form-control" id="txtName" name="sNameSearch" placeholder="Name">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="txtCGU">CGU_No:</label>
                            <input type="text" class="form-control" id="txtCGU" name="sCGUSearch" placeholder="CGU_No">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="inputPassword4">Priority:</label>
                            <select class="form-select mb-3" id="ddlPriority" name="priorityFilter" asp-for=@Model.prioritySelected>
                                <option value="">Any</option>
                                <option value="Routine">Routine</option>
                                <option value="Fast-Track">Fast-track</option>
                                <option value="Urgent">Urgent</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="inputAddress">Show  Only Unchecked:</label>
                            <input class="form-check-input" type="checkbox" id="chkChecked" value="false" onclick="SetCheckedCheckBox()" asp-for=@Model.isCheckedSelected>
                            <input id="txtIsChecked" name="isChecked" hidden="true" />
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="inputAddress">Referral Pathway:</label>
                            <select class="form-select mb-3" id="ddlPathway" name="pathwayFilter" asp-for=@Model.pathwaySelected>
                                <option value="">Both</option>
                                <option value="Cancer">Cancer</option>
                                <option value="General">General</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="inputAddress">Consultant:</label>
                            <select class="form-select mb-3" id="ddlConsultant" name="consultantFilter" asp-for=@Model.consultantSelected>
                                <option value="" defaultValue>Select...</option>
                                @foreach (var item in Model.consultantList)
                                {
                                    <option value=@item.NAME>@item.NAME</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="ddlGC">GC</label>
                            <select class="form-select" id="ddlGC" name="gcFilter" asp-for=@Model.GCSelected>
                                <option value="">Select...</option>
                                @foreach (var item in Model.GCList)
                                {
                                    <option value=@item.NAME>@item.NAME</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="txtComments">Comments:</label>
                            <input type="text" class="form-control" id="txtComments" name="commentsearch" type="text" asp-for=@Model.commentSearch>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label" for="ddlTriagePathway">Triage Pathway (General only):</label>
                            <select id="ddlTriagePathway" class="form-select" asp-for=@Model.triagePathway name="triagePathwayFilter">
                                <option value="" defaultValue>Select...</option>
                                @if (Model.UniqueTriagePathways != null && Model.UniqueTriagePathways.Any())
                                {
                                    foreach (var triagePathway in Model.UniqueTriagePathways)
                                    {
                                        <option value="@triagePathway">@triagePathway</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                  
                        <div class="mb-3">
                                <label class="form-label" for="ddladminStatus">Admin Status:</label>
                                <select id="ddladminStatus" class="form-select" asp-for=@Model.adminStatus name="statusAdmin">
                                <option value="" defaultValue>Select...</option>
                               
                                    @foreach (var item in Model.listStatusAdmin)
                                    {
                                        <option value="@item.Status_Admin">@item.Status_Admin</option>
                                    }
                                
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-outline-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered display" id="defaultTable">
                            <thead>
                                <tr>
                                    <th>CGU Number</th>
                                    <th>Name</th>
                                    <th>Ref Date</th>
                                    <th>Clock Start</th>
                                    <th>Reason</th>
                                    <th>Urgency</th>
                                    <th>TCI Date</th>
                                    <th>Clock Ticking (Days)</th>
                                    <th>Clock Ticking (Weeks)</th>
                                    <th>Clock Days at TCI</th>
                                    <th>Triage Pathway</th>
                                    <th>Comments</th>
                                    <th>Checked</th>
                                    <th>Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model.pageOfPTL)
                                {
                                    @if (@p.ClockStart < Model.FiftyTwoWeekDate)
                                    {
                                        <tr>
                                            <td>
                                                <a type="button" target="_blank" class="btn btn-secondary" asp-area="" asp-page="/ReferralDetails" asp-route-id=@p.ID
                                                   asp-route-consultantFilter=@Model.consultantSelected asp-route-gcFilter=@Model.GCSelected asp-route-pathwayFilter=@Model.pathwaySelected
                                                   asp-route-triagePathwayFilter="@Model.triagePathway" asp-route-priorityFilter=@Model.prioritySelected>@p.CGUNo</a>
                                            </td>
                                            <td class="text-danger">@p.PatientName</td>
                                            @if (p.ReferralDate.HasValue)
                                            {
                                                <td class="text-danger">@p.ReferralDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">N/A</td>
                                            }
                                            @if (@p.ClockStart.HasValue)
                                            {
                                                <td class="text-danger">@p.ClockStart.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">N/A</td>
                                            }
                                            <td class="text-danger">@p.ReferralReason</td>
                                            <td class="text-danger">@p.Class</td>
                                            @if (@p.TCIDate.HasValue)
                                            {
                                                <td class="text-danger">@p.TCIDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">N/A</td>
                                            }
                                            @if (p.ClockStart.HasValue)
                                            {
                                                <td class="text-danger">@((DateTime.Now - @p.ClockStart).Value.ToString("dd"))</td>
                                            }
                                            @if (p.ClockStart.HasValue)
                                            {
                                                <td class="text-danger">@Math.Floor(((DateTime.Now - @p.ClockStart).Value / 7).TotalDays)</td>
                                            }

                                            @if (p.ClockDaysAtTCI.HasValue)
                                            {
                                                <td class="text-danger">@p.ClockDaysAtTCI</td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">N/A</td>
                                            }
                                            <td class="text-danger">@p.TriagePathway</td>
                                            <td class="text-danger">@p.Comments</td>
                                            @if (p.isChecked)
                                            {
                                                <td class="text-danger">Yes</td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">No</td>
                                            }
                                            @if (p.UpdatedDate.HasValue)
                                            {
                                                <td class="text-danger">@p.UpdatedDate.Value.ToString("dd/MM/yyyy") by @p.UpdatedBy</td>
                                            }
                                            else
                                            {
                                                <td class="text-danger">N/A</td>
                                            }
                                        </tr>
                                    }
                                    else if (@p.ClockStart < Model.EighteenWeekDate)
                                    {
                                        <tr>
                                            <td>
                                                <a type="button" target="_blank" class="btn btn-secondary" asp-area="" asp-page="/ReferralDetails" asp-route-id=@p.ID asp-route-consultantFilter=@Model.consultantSelected asp-route-gcFilter=@Model.GCSelected asp-route-pathwayFilter=@Model.pathwaySelected
                                                   asp-route-triagePathwayFilter="@Model.triagePathway" asp-route-priorityFilter=@Model.prioritySelected>@p.CGUNo</a>
                                            </td>
                                            <td class="text-warning">@p.PatientName</td>
                                            @if (p.ReferralDate.HasValue)
                                            {
                                                <td class="text-warning">@p.ReferralDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td class="text-warning">N/A</td>
                                            }
                                            @if (@p.ClockStart.HasValue)
                                            {
                                                <td class="text-warning">@p.ClockStart.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td class="text-warning">N/A</td>
                                            }
                                            <td class="text-warning">@p.ReferralReason</td>
                                            <td class="text-warning">@p.Class</td>
                                            @if (@p.TCIDate.HasValue)
                                            {
                                                <td class="text-warning">@p.TCIDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td class="text-warning">N/A</td>
                                            }
                                            @if (p.ClockStart.HasValue)
                                            {
                                                <td class="text-warning">@((DateTime.Now - @p.ClockStart).Value.ToString("dd"))</td>
                                            }
                                            @if (p.ClockStart.HasValue)
                                            {
                                                <td class="text-warning">@Math.Floor(((DateTime.Now - @p.ClockStart).Value / 7).TotalDays)</td>
                                            }
                                            @if (p.ClockDaysAtTCI.HasValue)
                                            {
                                                <td class="text-warning">@p.ClockDaysAtTCI</td>
                                            }
                                            else
                                            {
                                                <td class="text-warning">N/A</td>
                                            }
                                            <td class="text-warning">@p.TriagePathway</td>
                                            <td class="text-warning">@p.Comments</td>
                                            @if (p.isChecked)
                                            {
                                                <td class="text-warning">Yes</td>
                                            }
                                            else
                                            {
                                                <td class="text-warning">No</td>
                                            }
                                            @if (p.UpdatedDate.HasValue)
                                            {
                                                <td class="text-warning">@p.UpdatedDate.Value.ToString("dd/MM/yyyy") by @p.UpdatedBy</td>
                                            }
                                            else
                                            {
                                                <td class="text-warning">N/A</td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <a type="button" target="_blank" class="btn btn-secondary" asp-area="" asp-page="/ReferralDetails" asp-route-id=@p.ID asp-route-consultantFilter=@Model.consultantSelected asp-route-gcFilter=@Model.GCSelected asp-route-pathwayFilter=@Model.pathwaySelected
                                                   asp-route-triagePathwayFilter=@Model.triagePathway asp-route-priorityFilter=@Model.prioritySelected>@p.CGUNo</a>
                                            </td>
                                            <td>@p.PatientName</td>
                                            @if (p.ReferralDate.HasValue)
                                            {
                                                <td>@p.ReferralDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td>N/A</td>
                                            }
                                            @if (@p.ClockStart.HasValue)
                                            {
                                                <td>@p.ClockStart.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td>N/A</td>
                                            }
                                            <td>@p.ReferralReason</td>
                                            <td>@p.Class</td>
                                            @if (@p.TCIDate.HasValue)
                                            {
                                                <td>@p.TCIDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td>N/A</td>
                                            }
                                            @if (p.ClockStart.HasValue)
                                            {
                                                <td>@((DateTime.Now - @p.ClockStart).Value.ToString("dd"))</td>
                                            }
                                            @if (p.ClockStart.HasValue)
                                            {
                                                <td>@Math.Floor(((DateTime.Now - @p.ClockStart).Value / 7).TotalDays)</td>
                                            }
                                            @if (p.ClockDaysAtTCI.HasValue)
                                            {
                                                <td>@p.ClockDaysAtTCI</td>
                                            }
                                            else
                                            {
                                                <td>N/A</td>
                                            }
                                            <td>@p.TriagePathway</td>
                                            <td>@p.Comments</td>
                                            @if (p.isChecked)
                                            {
                                                <td>Yes</td>
                                            }
                                            else
                                            {
                                                <td>No</td>
                                            }
                                            @if (p.UpdatedDate.HasValue)
                                            {
                                                <td>@p.UpdatedDate.Value.ToString("dd/MM/yyyy") by @p.UpdatedBy</td>
                                            }
                                            else
                                            {
                                                <td>N/A</td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    window.onload = SetCheckBoxes;
    document.getElementById("btnReset").addEventListener("click", ClearFilters);


    function SetUrgentCheckBox() {
        //because it cannot simply pass the state of the checkbox to the C#, for some reason!!!
        document.getElementById("txtpriorityFilter").value = document.getElementById("chkUrgent").checked;
    }

    function ClearFilters() {
        //document.getElementById("txtpriorityFilter").value = document.getElementById("chkUrgent").checked;
        document.getElementById("chkChecked").checked = false
        document.getElementById("txtIsChecked").value = false;
        document.getElementById("ddlConsultant").value = "";
        document.getElementById("ddlGC").value = "";
        document.getElementById("txtComments").value = "";
        document.getElementById("ddlPathway").value = "";
        document.getElementById("ddlPriority").value = "";
        document.getElementById("txtName").value = "";
        document.getElementById("txtCGU").value = "";
        document.getElementById("ddlTriagePathway").value = "";
    }

    function SetCheckedCheckBox() {
        document.getElementById("txtIsChecked").value = document.getElementById("chkChecked").checked;
    }

    function SetCheckBoxes() {
        //SetUrgentCheckBox();
        SetCheckedCheckBox();
    }



</script>