@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <h1 style="text-align:center">PTL-X - The New Patient Tracking List</h1>
    <br />
    <br />
    <div class="row">
        <dt class="col-md-2">Total Active Referrals:</dt><dd class="col-md-2">@Model.PTL.Count()</dd>
        <dt class="col-md-2">From this year:</dt><dd class="col-md-1">@Model.PTL.Where(i => i.ReferralDate > Model.CurrentYear).Count()</dd>
        <dt class="col-md-2">From last year:</dt><dd class="col-md-1">@Model.PTL.Where(i => i.ReferralDate > Model.PreviousYear && i.ReferralDate < Model.CurrentYear).Count()</dd>
        <dt class="col-md-1">Older:</dt><dd class="col-md-1">@Model.PTL.Where(i => i.ReferralDate < Model.PreviousYear ).Count()</dd>
        <dt class="col-md-2">Currently Over 18 Weeks:</dt><dd class="col-md-2">@Model.PTL.Where(i => i.ClockStart < Model.EighteenWeekDate).Count()</dd>
        <dd class="col-md-8">(18 week clock start date: @Model.EighteenWeekDate.ToString("dd/MM/yyyy"))</dd>
        <dt class="col-md-2">Appointment due:</dt><dd class="col-md-2">@Model.PTL.Where(i => i.TCIDate != null).Count()</dd>
        <dt class="col-md-2">Unappointed:</dt><dd class="col-md-2">@Model.PTL.Where(i => i.TCIDate == null).Count()</dd>            
    </div>       
    <br />   
    <form id="frmMenu" method="Post">
        <div class="row">
            <h3>Search form:</h3>
            <div class="col-md-1">
                <label>Name:</label>
            </div>
            <div class="col-md-2">
                <input name="sNameSearch" />
            </div>
            <div class="col-md-1">
                <label>CGU_No:</label>
            </div>
            <div class="col-md-2">
                <input name="sCGUSearch" />
            </div>
            <div class="col-md-1">
                <label>Show  Only Urgent:</label>
            </div>
            <div class="col-md-2">
                <input id="chk" type="checkbox" value="false" onclick="SetCheckBox()" />
            </div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-secondary"  />                
            </div>
        </div>
        <div class="row">
            <input name="isUrgent" id="txtIsUrgent" hidden="true" />
        </div>
    </form>
    <br />
    <div class="row">      
        <table class="table">
            <thead>
                <tr>            
                    <th class="align-top">CGU Number</th>
                    <th class="align-top">Name</th>
                    @*<th>@Html.ActionLink("Org Code", "Index", new { sortOrder = "org_code" })</th>
                    <th>@Html.ActionLink("Org Name", "Index", new { sortOrder = "org_name" })</th>*@
                    <th class="align-top">@*@Html.ActionLink("Ref Date", "Index", new { sortOrder = "ref_date" })*@
                        <div class="row">
                            <div class="col-7">
                                Ref Date
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="ref_date" asp-route-isDesc=false>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                                    </svg>
                                    </a>
                                </div>
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="ref_date" asp-route-isDesc=true>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                                    </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>@*@Html.ActionLink("Clock Start", "Index", new { sortOrder = "cs_date" })</th>*@
                        <div class="row">
                            <div class="col-8">
                                Clock Start
                            </div>
                            <div class="col-4">
                                <ul class="list-unstyled list-group">
                                    <li><a asp-page="\Index" asp-route-sortOrder="cs_date" asp-route-isDesc=false>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                                        </svg>
                                        </a>
                                    </li>
                                
                                    <li><a asp-page="\Index" asp-route-sortOrder="cs_date" asp-route-isDesc=true>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                                        </svg>
                                        </a>
                                    </li>                               
                                </ul>
                            </div>
                        </div>
                    @*<th>@Html.ActionLink("Referral By", "Index", new { sortOrder = "ref_by" })</th>*@
                    <th class="align-top">@*@Html.ActionLink("Reason", "Index", new { sortOrder = "ref_reason" })*@
                        <div class="row">
                            <div class="col-7">
                                Reason
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="ref_reason" asp-route-isDesc=false>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="ref_reason" asp-route-isDesc=true>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th>
                    @*<th>@Html.ActionLink("Consultant", "Index", new { sortOrder = "ref_consultant" })</th>
                    <th>@Html.ActionLink("GC", "Index", new { sortOrder = "ref_GC" })</th>*@
                    <th class="align-top">@*@Html.ActionLink("Urgency", "Index", new { sortOrder = "ref_class" })*@
                        <div class="row">
                            <div class="col-7">
                                Urgency
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="ref_class" asp-route-isDesc=false>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="ref_class" asp-route-isDesc=true>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th class="align-top">@*@Html.ActionLink("TCI Date", "Index", new { sortOrder = "tci_date" })*@
                        <div class="row">
                            <div class="col-7">
                                TCI Date
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="tci_date" asp-route-isDesc=false>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="tci_date" asp-route-isDesc=true>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th class="align-top">Clock Ticking (Days)</th>
                    <th class="align-top">
                            @*@Html.ActionLink("Ref Date", "Index", new { sortOrder = "ref_date" })*@
                        <div class="row">
                            <div class="col-7">
                                Clock Days at TCI Date
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="clock_tci" asp-route-isDesc=false>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="row">
                                    <a asp-page="\Index" asp-route-sortOrder="clock_tci" asp-route-isDesc=true>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var p in Model.pageOfPTL)
                {
                    @if (@p.ClockStart < Model.FiftyTwoWeekDate)
                    {
                        <tr style ="color:red">
                            <td><a type="button" class="btn btn-secondary" asp-area="" asp-page="/ReferralDetails" asp-route-sPPI=@p.PPI>@p.CGUNo</a></td>
                            <td>@p.PatientName</td>                           
                            @*<td>@p.OrgCode</td>
                            <td>@p.OrgName</td>*@
                            @if (p.ReferralDate.HasValue)
                            {
                                <td>@p.ReferralDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (@p.ClockStart.HasValue)
                            {
                                <td>@p.ClockStart.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @*<td>@p.ReferralBy</td>*@
                            <td>@p.ReferralReason</td>
                            @*<td>@p.ReferralConsultant</td>
                            <td>@p.ReferralGC</td>*@
                            <td>@p.Class</td>
                            @if (@p.TCIDate.HasValue)
                            {
                                <td>@p.TCIDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (p.ClockStart.HasValue && p.ClockStop == null)
                            {
                                <td>@((DateTime.Now - @p.ClockStart).Value.ToString("dd"))</td>
                            }
                            @if(p.ClockDaysAtTCI.HasValue)
                            {
                                <td>@p.ClockDaysAtTCI</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        </tr>
                    }
                    else if (@p.ClockStart < Model.EighteenWeekDate)
                    {                        
                        <tr style="color:orange">
                            <td><a type="button" class="btn btn-secondary" asp-area="" asp-page="/ReferralDetails" asp-route-sPPI=@p.PPI>@p.CGUNo</a></td>
                            <td>@p.PatientName</td>
                            @*<td>@p.OrgCode</td>
                            <td>@p.OrgName</td>*@
                            @if (p.ReferralDate.HasValue)
                            {
                                <td>@p.ReferralDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (@p.ClockStart.HasValue)
                            {
                                <td>@p.ClockStart.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @*<td>@p.ReferralBy</td>*@
                            <td>@p.ReferralReason</td>
                            @*<td>@p.ReferralConsultant</td>
                            <td>@p.ReferralGC</td>*@
                            <td>@p.Class</td>
                            @if (@p.TCIDate.HasValue)
                            {
                                <td>@p.TCIDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (p.ClockStart.HasValue && p.ClockStop == null)
                            {
                                <td>@((DateTime.Now - @p.ClockStart).Value.ToString("dd"))</td>
                            }
                            @if (p.ClockDaysAtTCI.HasValue)
                            {
                                <td>@p.ClockDaysAtTCI</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td><a type="button" class="btn btn-secondary" asp-area="" asp-page="/ReferralDetails" asp-route-sPPI=@p.PPI>@p.CGUNo</a></td>
                            <td>@p.PatientName</td>
                            @*<td>@p.OrgCode</td>
                            <td>@p.OrgName</td>*@
                            @if (p.ReferralDate.HasValue)
                            {
                                <td>@p.ReferralDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (@p.ClockStart.HasValue)
                            {
                                <td>@p.ClockStart.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @*<td>@p.ReferralBy</td>*@
                            <td>@p.ReferralReason</td>
                            @*<td>@p.ReferralConsultant</td>
                            <td>@p.ReferralGC</td>*@
                            <td>@p.Class</td>
                            @if (@p.TCIDate.HasValue)
                            {
                                <td>@p.TCIDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (p.ClockStart.HasValue && p.ClockStop == null)
                            {
                                <td>@((DateTime.Now - @p.ClockStart).Value.ToString("dd"))</td>
                            }
                            @if (p.ClockDaysAtTCI.HasValue)
                            {
                                <td>@p.ClockDaysAtTCI</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        </tr>
                    }  
                }
            </tbody>
        </table>
    </div>
    @if(Model.pageNumbers.Count() > 1)
    {
        <div class="row">
            <ul class="d-flex flex-row list-unstyled">
                <li><a asp-page="\Index" asp-route-pNo=1>First</a>&nbsp;&nbsp;&nbsp;</li>
                @if(Model.currentPageNo != 1)
                {
                    <li><a asp-page="\Index" asp-route-pNo=@Model.previousPage>Back</a> &nbsp;&nbsp;&nbsp;</li>
                }
                @foreach (var i in Model.pageNumbers)
                {
                    @if (i >= Model.currentPageNo - 20 && i <= Model.currentPageNo + 20)
                    {
                        @if (i == Model.currentPageNo)
                        {
                            <li>@i &nbsp;&nbsp;&nbsp;</li>
                        }
                        else
                        {
                            <li><a asp-page="\Index" asp-route-pNo=@i>@i</a> &nbsp;&nbsp;&nbsp;</li>
                        }
                    }
                }
                @if (Model.currentPageNo != Model.pageNumbers.Count())
                {
                    <li><a asp-page="\Index" asp-route-pNo=@Model.nextPage>Next</a>&nbsp;&nbsp;&nbsp;</li>
                }
                <li><a asp-page="\Index" asp-route-pNo=@Model.pageNumbers.Count()>Last</a></li>
            </ul>
        </div>
    }
</div>


<script>
        

    function SetCheckBox()
    {
        //because it cannot simply pass the state of the checkbox to the C#, for some reason!!!        
        document.getElementById("txtIsUrgent").value = document.getElementById("chk").checked;    
                
    }
</script>