@page
@model TrueWaitingListModel;
@{
}


<h4>Total: @Model.Total</h4>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Filter</h5>
    </div>
    <div class="card-body">
        <form method="get" action="">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="cgu_number">CGU Number</label>
                    <input type="text" class="form-control" id="cgu_number" name="sCGU_No" placeholder="CGU Number">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" name="sName" id="name" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="referral_date">Referral Date</label>
                    <input type="date" class="form-control flatpickr-datetime flatpickr-input" name="sReferralDate" id="referral_date" placeholder="Select date..">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Range Calendar</label>
                    <input type="text" class="form-control flatpickr-range flatpickr-input" name="sRangeDate" placeholder="Select start and end date..">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="consultants">Consultants</label>
                    <select id="consultants" name="sConsultants" class="form-select">
                        <option value="">Select Consultant...</option>
                        @foreach (var item in Model.consultantList)
                        {
                            <option value=@item.NAME>@item.NAME</option>
                        }

                    </select>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">GC</label>
                    <select class="form-select" name="sGC" >
                        <option value="">Select GC...</option>
                        @foreach (var item in Model.GCList)
                        {
                            <option value="@item.NAME">@item.NAME</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-12">
                    <label class="form-label" for="yearPicker">Year</label>
                    <select id="yearPicker" name="syearPicker" class="form-control">
                        <option value="">Select year ...</option>
                    </select>
                </div>


            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>CGU Number</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Referral Date</th>
                    <th>Clock Start Date</th>
                    <th>Clock Stop Date</th>
                    <th>Status Admin</th>
                    <th>Pathway</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.TrueWaitingLists)
                {
                    <tr>
                        <td>@c.CGU_No</td>
                        <td>@c.Firstname</td>
                        <td>@c.Lastname</td>
                        <td>@c.RefDate.Value.ToString("dd/MM/yyyy")</td>
                        <td>@c.ClockStartDate.Value.ToString("dd/MM/yyyy")</td>
                        @if (@c.ClockStopDate != null)
                        {
                            <td>@c.ClockStopDate.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                        }

                        <td>@c.Status_Admin</td>
                        <td>@c.PATHWAY</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@{
    var prevDisabled = !Model.TrueWaitingLists.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.TrueWaitingLists.HasNextPage ? "disabled" : "";
}

<a asp-page="./TrueWaitingList"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.TrueWaitingLists.PageIndex - 1)" asp-route-sCGU_No="@Model.searchCGU_No" asp-route-sName="@Model.searchName"
   asp-route-sReferralDate="@Model.searchReferralDate" asp-route-sRangeDate="@Model.searchRangeDate" asp-route-syearPicker="@Model.searchYearPicker"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./TrueWaitingList"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.TrueWaitingLists.PageIndex + 1)" asp-route-sCGU_No="@Model.searchCGU_No" asp-route-sName="@Model.searchName"
   asp-route-sReferralDate="@Model.searchReferralDate" asp-route-sRangeDate="@Model.searchRangeDate" asp-route-syearPicker="@Model.searchYearPicker"
   class="btn btn-primary @nextDisabled">
    Next
</a>