@page
@model TrueWaitingListModel;
@{
}


<style>
    .sort-down {
        margin-left: -15px;
        margin-bottom: -5px;
    }

</style>

<h4>Total: @Model.Total</h4>
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Filter</h5>
    </div>
    <div class="card-body">
        <form method="get" action="">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="cgu_number">CGU Number</label>
                    <input type="text" class="form-control" id="cgu_number" name="sCGU_No" placeholder="CGU Number">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" name="sName" id="name" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="referral_date">Referral Date</label>
                    <input type="date" class="form-control flatpickr-datetime flatpickr-input" name="sReferralDate" id="referral_date" placeholder="Select date..">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Range Calendar</label>
                    <input type="text" class="form-control flatpickr-range flatpickr-input" name="sRangeDate" placeholder="Select start and end date..">
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="consultants">Consultants</label>
                    <select id="consultants" name="sConsultants" class="form-select">
                        <option value="">Select Consultant...</option>
                        @foreach (var item in Model.consultantList)
                        {
                            <option value=@item.NAME>@item.NAME</option>
                        }

                    </select>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">GC</label>
                    <select class="form-select" name="sGC">
                        <option value="">Select GC...</option>
                        @foreach (var item in Model.GCList)
                        {
                            <option value="@item.NAME">@item.NAME</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-12">
                    <label class="form-label" for="yearPicker">Year (Referral Date)</label>
                    <input type="number" class="form-control" name="syearPicker" min="1990" id="">

                </div>


            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        CGU Number
                    </th>

                    <th>Name</th>
                    <th>Referring Clinician</th>
                    <th>Referring Facility</th>
                    <th>NHS No.</th>
                    <th>RefId</th>
                    <th>
                        Referral Date
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="ref_date" asp-route-isDesc=false>
                            <i class="fa-solid fa-sort-up fa-xl"></i>
                        </a>
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="ref_date" asp-route-isDesc=true>
                            <i class="fa-solid fa-sort-down fa-xl sort-down"></i>
                        </a>
                    </th>
                    <th>
                        Clock Start Date
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="clock_start_date" asp-route-isDesc=false>
                            <i class="fa-solid fa-sort-up fa-xl"></i>
                        </a>
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="clock_start_date" asp-route-isDesc=true>
                            <i class="fa-solid fa-sort-down fa-xl sort-down"></i>
                        </a>
                    </th>
                    <th class="sortable">
                        Clock Stop Date
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="clock_stop_date" asp-route-isDesc=false>
                            <i class="fa-solid fa-sort-up fa-xl sort-up"></i>
                        </a>
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="clock_stop_date" asp-route-isDesc=true>
                            <i class="fa-solid fa-sort-down fa-xl sort-down"></i>
                        </a>
                    </th>
                    <th>
                        Status Admin
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="status_admin" asp-route-isDesc=false>
                            <i class="fa-solid fa-sort-up fa-xl sort-up"></i>
                        </a>
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="status_admin" asp-route-isDesc=true>
                            <i class="fa-solid fa-sort-down fa-xl sort-down"></i>
                        </a>
                    </th>
                    <th>
                        Pathway
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="pathway" asp-route-isDesc=false>
                            <i class="fa-solid fa-sort-up fa-xl sort-up"></i>
                        </a>
                        <a asp-page="\TrueWaitingList" asp-route-sortOrder="pathways" asp-route-isDesc=true>
                            <i class="fa-solid fa-sort-down fa-xl sort-down"></i>
                        </a>
                    </th>
                    <th>ICP Data</th>
                    <th>Appointment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TrueWaitingLists)
                {
                    <tr>
                        <td>@item.CGU_No</td>
                        <td>@item.Firstname @item.Lastname</td>
                        <td>@item.ReferringClinician</td>
                        <td>@item.ReferringFacility</td>
                        <td>@item.NHSNo</td>
                        <td>@item.refid</td>
                        <td>@item.RefDate.Value.ToString("dd/MM/yyyy")</td>
                        @if (@item.ClockStartDate != null)
                        {
                            <td>@item.ClockStartDate.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (@item.ClockStopDate != null)
                        {
                            <td>@item.ClockStopDate.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                        }

                        <td>@item.Status_Admin</td>
                        <td>@item.PATHWAY</td>

                        <td>
                            <a asp-page="Icp" asp-route-scgudb="@item.CGU_No" asp-route-sName="@item.Firstname @item.Lastname" asp-route-sReferralId=@item.refid
                               asp-route-sAddress="@item.ADDRESS1 @item.address2 @item.address3 @item.address4 @item.postcode" asp-route-sDob="@item.dob"
                               asp-route-sRefType="@item.RefType" asp-route-sRefDate="@item.RefDate" asp-route-sNhsNo="@item.NHSNo" asp-route-sConsultant="@item.LeadClinician" 
                               asp-route-sGc="@item.GC" asp-route-sAdminContact="@item.AdminContact"asp-route-sPathway="@item.PATHWAY" asp-route-sRefClass="@item.RefClass" 
                               asp-route-sIndication="@item.INDICATION" asp-route-sBreachDate="@item.BreachDate" asp-route-sIndicationNotes="@item.REASON_FOR_REFERRAL"
                               asp-route-sClinicno="@item.CLINICNO"
                               class="btn btn-outline-primary" target="_blank">ICP Data</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" target="_blank" asp-route-sClinicno="@item.CLINICNO" asp-page="Appointment">Appointment</a>
                        </td>

                        @*<td><a asp-page="WIP" class="btn btn-outline-primary">View ICP Data</a></td>*@

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>CGU Number</th>
                    <th>Name</th>
                    <th>Referring Clinician</th>
                    <th>Referring Facility</th>
                    <th>NHS No.</th>
                    <th>RefId</th>
                    <th>Referral Date</th>
                    <th>Clock Start Date </th>
                    <th>Clock Stop Date</th>
                    <th>Status Admin</th>
                    <th>Pathway </th>
                    <th>ICP Data</th>
                    <th>Appointment</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


@{
    var prevDisabled = !Model.TrueWaitingLists.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.TrueWaitingLists.HasNextPage ? "disabled" : "";
}

<div class="dataTables_paginate paging_simple_numbers" id="datatables-reponsive_paginate">
    <ul class="pagination">
        <li class="paginate_button page-item  @prevDisabled" id="datatables-reponsive_previous">
            <a asp-page="./TrueWaitingList" aria-controls="datatables-reponsive" class="page-link"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="1"
               asp-route-sCGU_No="@Model.searchCGU_No"
               asp-route-sName="@Model.searchName"
               asp-route-sReferralDate="@Model.searchReferralDate"
               asp-route-sRangeDate="@Model.searchRangeDate"
               asp-route-syearPicker="@Model.searchYearPicker"
               asp-route-sConsultants="@Model.searchConsultant"
               asp-route-sGC="@Model.searchGC">First</a>
        </li>
        <li class="paginate_button page-item previous @prevDisabled" id="datatables-reponsive_previous">
            <a aria-controls="datatables-reponsive" asp-page="./TrueWaitingList" class="page-link"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="1"
               asp-route-sCGU_No="@Model.searchCGU_No"
               asp-route-sName="@Model.searchName"
               asp-route-sReferralDate="@Model.searchReferralDate"
               asp-route-sRangeDate="@Model.searchRangeDate"
               asp-route-syearPicker="@Model.searchYearPicker"
               asp-route-sConsultants="@Model.searchConsultant"
               asp-route-sGC="@Model.searchGC">Previous</a>
        </li>
        @for (int i = Math.Max(Model.TrueWaitingLists.PageIndex - 5, 1); i <= Math.Min(Model.TrueWaitingLists.PageIndex + 5, Model.TrueWaitingLists.TotalPages); i++)
        {
            <li class="paginate_button page-item  @(i == Model.TrueWaitingLists.PageIndex ? "active" : "")">
                <a aria-controls="datatables-reponsive" aria-role="link" class="page-link"
                   asp-page="./TrueWaitingList"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@i"
                   asp-route-sCGU_No="@Model.searchCGU_No"
                   asp-route-sName="@Model.searchName"
                   asp-route-sReferralDate="@Model.searchReferralDate"
                   asp-route-sRangeDate="@Model.searchRangeDate"
                   asp-route-syearPicker="@Model.searchYearPicker"
                   asp-route-sConsultants="@Model.searchConsultant"
                   asp-route-sGC="@Model.searchGC">@i</a>
            </li>
        }

        <li class="paginate_button page-item @nextDisabled">
            <a aria-controls="datatables-reponsive" class="page-link"
               asp-page="./TrueWaitingList"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.TrueWaitingLists.PageIndex + 1)"
               asp-route-sCGU_No="@Model.searchCGU_No"
               asp-route-sName="@Model.searchName"
               asp-route-sReferralDate="@Model.searchReferralDate"
               asp-route-sRangeDate="@Model.searchRangeDate"
               asp-route-syearPicker="@Model.searchYearPicker"
               asp-route-sConsultants="@Model.searchConsultant"
               asp-route-sGC="@Model.searchGC">Next</a>
        </li>
        <li class="paginate_button page-item @nextDisabled" id="datatables-reponsive_next">
            <a aria-controls="datatables-reponsive" aria-role="link" class="page-link"
               asp-page="./TrueWaitingList"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.TrueWaitingLists.TotalPages"
               asp-route-sCGU_No="@Model.searchCGU_No"
               asp-route-sName="@Model.searchName"
               asp-route-sReferralDate="@Model.searchReferralDate"
               asp-route-sRangeDate="@Model.searchRangeDate"
               asp-route-syearPicker="@Model.searchYearPicker"
               asp-route-sConsultants="@Model.searchConsultant"
               asp-route-sGC="@Model.searchGC">Last</a>
        </li>
    </ul>
</div>
