@page
@model PatientTrackingList.Pages.WaitingListModel
@{
    ViewData["Title"] = "Waiting List";
}

<div class="">
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3><strong>Clinicians Waiting List - Total:</strong> @Model.listTotal</h3>
        </div>

        <div class="col-auto ms-auto text-end mt-n1">
            <a class="btn btn-primary" asp-area="" asp-page="/Download"
               asp-route-clinicianFilter=@Model.clincianSelected asp-route-clinicFilter=@Model.clinicSelected
               asp-route-username=@Model.User.Identity.Name asp-route-type="waitinglist">Export Data</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-xxl-12">
            <div class="card flex-fill w-100">
                <div class="card-body pt-2 pb-3">
                    <form id="frmWLSearch" method="post">
                        <div class="row pt-3">
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Clinicians</label>
                                <select class="form-select" name="clinician" asp-for=@Model.clincianSelected>
                                    <option value="" selected></option>
                                    @foreach (var c in Model.Clinicians)
                                    {
                                        <option value=@c>@c</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Clinics:</label>
                                <select class="form-select" name="clinic" asp-for="@Model.clinicSelected">
                                    <option value="" selected></option>
                                    @foreach (var c in Model.Clinics)
                                    {
                                        <option value=@c>@c</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered  table-hover" id="defaultTable">
                <thead>
                    <tr>
                        <th>CGU Number</th>
                        <th>Patient</th>
                        <th>Clinician</th>
                        <th>Clinic</th>
                        <th>Date Added</th>
                        <th>Instructions</th>
                        <th>Comments</th>
                        <th>Priority</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var wl in Model.WaitingList)
                    {
                        @if (wl.Priority == "Urgent")
                        {
                            <tr class="table-danger text-white">
                                <td>@wl.CGU_No</td>
                                <td>@wl.FIRSTNAME @wl.LASTNAME</td>
                                <td>@wl.ClinicianName</td>
                                <td>@wl.ClinicName</td>
                                <td>@wl.AddedDate.Value.ToString("dd/MM/yyyy")</td>
                                <td>@wl.Instructions</td>
                                <td>@wl.Comment</td>
                                <td>@wl.Priority</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@wl.CGU_No</td>
                                <td>@wl.FIRSTNAME @wl.LASTNAME</td>
                                <td>@wl.ClinicianName</td>
                                <td>@wl.ClinicName</td>
                                <td>@wl.AddedDate.Value.ToString("dd/MM/yyyy")</td>
                                <td>@wl.Instructions</td>
                                <td>@wl.Comment</td>
                                <td>@wl.Priority</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>